.v-select .v-field .v-field__input>input {
    display: none; /* This fixed it (by hiding the "hidden" input field) */
    
    /* the styleing we don't want, need to override*/
    /* border-color:#c7a589;box-shadow:0 0 0 1px #c7a589; */
}

table.bss-paralell-limits thead tr th, table.bss-paralell-limits tbody tr:nth-child(odd) {
    background-color: #ddd;
    /* background-color: rgb(var(--v-theme-secondary)) !important; */
}

table.bss-paralell-limits thead tr th {
    height: 50px;
}

.v-field--error {
    color: rgb(var(--v-theme-on-error));
    background-color: rgb(var(--v-theme-error)) !important;
    font-size: 12px;
}

.v-field--error .v-field__input {
    background-color: rgb(var(--v-theme-error-lighten)) !important;
}

table.bss-paralell-limits thead tr td {
    text-align: center;
}

table.bss-paralell-limits th, table.bss-paralell-limits td {
    max-width: 150px;
}

tbody.striped tr:nth-child(odd) {
    background-color: #ddd;
}

tr.language-bible-selector td{
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    /* border-spacing: 0; */
} 

table.no-cell-spacing {
    border-spacing: 0;
    border-collapse: collapse;
}

.w-10 {width: 10% !important;}
.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-40 {width: 40% !important;}
.w-60 {width: 60% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-90 {width: 90% !important;}
