/* This CSS file is included on [biblesupersearch] shortcode when 'Override Styles' is enabled */

.biblesupersearch_main table {
    margin: initial;
}

.biblesupersearch_main table th {
    text-align: center;
}

.biblesupersearch_main {
    line-height: initial;
}

table.biblesupersearch_render_table {
    border: 0;
    margin: 0 0 5px;
}

.biblesupersearch_render_table td, .biblesupersearch_render_table th {
    padding: 1px;
    border: 0;
    background-color: initial;
}

.biblesupersearch_render_table th {
    font-weight: bold;
    /*font-size: 1em;*/
}

.biblesupersearch_render_table td {
    /*font-size: 1em;*/
}

td.ver {
    width: initial;
}

td.ver sup {
    white-space: nowrap;
}

table.biblesupersearch_classic_form {
    margin: 0 auto 20px;
    padding: 5px;
}

table.biblesupersearch_classic_form th, table.biblesupersearch_classic_form td {
    padding: 1px;
    border: 0;
    font-size: 16px;
}

.biblesupersearch_main .format_buttons_html {
    color: black;
}

.biblesupersearch_main button {
    /*background-color: itial;*/
align-items:
flex-start
;
background-color:
rgb(221, 221, 221)
;
border-bottom-color:
rgb(221, 221, 221)
;
border-bottom-style:
outset
;
border-bottom-width:
2px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(221, 221, 221)
;
border-left-style:
outset
;
border-left-width:
2px
;
border-right-color:
rgb(221, 221, 221)
;
border-right-style:
outset
;
border-right-width:
2px
;
border-top-color:
rgb(221, 221, 221)
;
border-top-style:
outset
;
border-top-width:
2px
;
box-sizing:
border-box
;
color:
rgb(0, 0, 0)
;
cursor:
default
;
display:
inline-block
;
font-family:
Arial
;
font-size:
13.3333px
;
font-stretch:
100%
;
font-style:
normal
;
font-variant-caps:
normal
;
font-variant-east-asian:
normal
;
font-variant-ligatures:
normal
;
font-variant-numeric:
normal
;
font-weight:
400
;
letter-spacing:
normal
;
line-height:
normal
;
margin-bottom:
10px
;
margin-left:
10px
;
margin-right:
10px
;
margin-top:
10px
;
padding-bottom:
1px
;
padding-left:
6px
;
padding-right:
6px
;
padding-top:
1px
;
text-align:
start
;
text-indent:
0px
;
text-rendering:
auto
;
text-shadow:
none
;
text-transform:
none
;
word-spacing:
0px
;
writing-mode:
horizontal-tb
;
-webkit-appearance:
button
;
-webkit-border-image:
none
;

.biblesupersearch_main .format_buttons_html .item.size_reg span {
    display: inline;
}

.biblesupersearch_main button, .biblesupersearch_main input, .biblesupersearch_main select, .biblesupersearch_main textarea {
    padding: initial;
}
