/* This CSS file is included on [biblesupersearch] shortcode when 'Override Styles' is enabled */

.biblesupersearch_main table {
    margin: initial;
}

.biblesupersearch_main table th {
    text-align: center;
}

.biblesupersearch_main {
    line-height: initial;
}

table.biblesupersearch_render_table {
    border: 0;
    margin: 0 0 5px;
}

.biblesupersearch_render_table td, .biblesupersearch_render_table th {
    padding: 1px;
    border: 0;
    background-color: initial;
}

.biblesupersearch_render_table th {
    font-weight: bold;
    /*font-size: 1em;*/
}

.biblesupersearch_render_table td {
    /*font-size: 1em;*/
}

td.ver {
    width: initial;
}

td.ver sup {
    white-space: nowrap;
}

table.biblesupersearch_classic_form {
    margin: 0 auto 20px;
    padding: 5px;
}

table.biblesupersearch_classic_form th, table.biblesupersearch_classic_form td {
    padding: 1px;
    border: 0;
    font-size: 16px;
}
