.biblesupersearch_enabled_bible {
    height: 300px;
    width: 450px;
    overflow-y: auto;
}

.bss_bible_lang {
    background-color: #DDD; 
/*    float:left; 
    display:inline-block; */
    margin-bottom: 15px; 
    margin-right: 15px; 
    padding: 3px;
    border-radius: 3px;
    width: 95%;
}

.bss_bible {
    /*loat:left;*/
    display: block; 
    /*width: 250px; */
    padding-left: 10px;
    font-size: 0.9em;
}

.form-table th {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

.bss-menu-item {
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    background-color: #dddddd;
    border-bottom: 2px solid #dddddd;
    padding: 12px;
}

.bss-menu-item.selected {
    border-bottom: 2px solid #006799;
}

.shortcode-options-table {
    width: 100%;
    margin-bottom: 30px;
}

.shortcode-options-table tr:nth-child(odd) {
  background-color: #f2f2f2
}

.shortcode-options-table td {
    line-height: initial;
    padding: 5px;
}

.shortcode-options-table td.key {
    width: 20%;
    vertical-align: top;
}

.shortcode-options-table td.name {
    width: 10%;
    vertical-align: top;
}

.shortcode-options-table td.desc {
    width: 58%;
}

.shortcode-options-table.bss td.desc div {
    height: 300px;
    overflow-y: auto;
}

.bss_opt select {
    width: 400px;
}
