.bss_bible_lang {
    background-color: #DDD; 
    float:left; 
    display:inline-block; 
    margin-bottom: 15px; 
    margin-right: 15px; 
    padding: 3px;
    border-radius: 3px;
}

.bss_bible {
    /*loat:left;*/
    display: block; 
    width: 250px; 
    padding-left: 10px;
}

.form-table th {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

.bss-menu-item {
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    background-color: #dddddd;
    border-bottom: 2px solid #dddddd;
    padding: 12px;
}

.bss-menu-item.selected {
    border-bottom: 2px solid #006799;
}

.shortcode-options-table tr:nth-child(odd) {
  background-color: #f2f2f2
}

.shortcode-options-table td {
    line-height: initial;
    padding: 5px;
}

